body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

#banner {
	background-image: url(image/donation3\ \(2\).jpg);
	height: 400px;
	position: relative;
}

#banner-header {
	font-size: 40px;
}

#banner-text {
	text-align: center;
	color: white;
	position: absolute;
	top: 140px;
	right: 160px;
}

.donate-button {
	text-decoration: none;
	color: white;
	border-radius: 5px;
	background-color: #FF5959;
	padding: 16px 12px;
}

.donate-part {
	text-align: center;
	margin: auto;
	width: 60%;
}
.all-header {
	font-size: 30px;
	font-weight: 600;
	margin-top: 70px;
	margin-bottom: 0;
}
.donate-part hr {
	margin-bottom: 30px;
}

.donate-amount {
	display: flex;
	justify-content: center;
}

.donate-btn {
	text-decoration: none;
	color: #707070;
	font-size: 25px;
	background-color: #FAFAFA;
	margin: 10px;
	padding: 20px;
}

#diffarent-btn {
	text-decoration: none;
	color: #FF5959;
	background-color: #FFEEEE;
	border: 2px solid #FF5959;
	border-radius: 5px;
	font-size: 25px;
	margin: 10px;
	padding: 20px;
}

.our-plan {
	text-align: center;
	margin-top: 50px;
	margin: auto;
	width: 90%;
}

.all-plan {
	display: flex;
}

.plan {
	border-radius: 5px;
	margin: 15px;
	padding: 10px;
	height: 350px;
	width: 30%;
}
.founder{
	display: flex;
	margin: auto;
	width: 80%;
 	align-items: center;
}
.founder-details{
	margin-right: 50px;
	padding: 80px;
}
#founder-name{
	font-size: 40px;
	color: rgb(234, 148, 37);
}
.email-part {
	background-color: #FFF4D6;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email-fild{
	background: #D9D9D9;
	border: 0;
	padding: 20px;
	border-radius: 5px;
}
.end-part {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 120px;
	background-color: #0B0D17;
	color: white;
	margin-top: 100px;
}

.end-part h2 {
	color: #FF5959;
}